<aside>
  <div class="nav-container nav-scrollbar">
    <mat-accordion>

      <mat-expansion-panel class="rounded-0">
        <mat-expansion-panel-header>
          Menu 1
        </mat-expansion-panel-header>

        <mat-list>
         <mat-list-item> <button mat-button >Pepper</button> </mat-list-item>
         <mat-list-item> <button mat-button >Salt</button> </mat-list-item>
         <mat-list-item> <button mat-button >Paprika</button> </mat-list-item>
        </mat-list>

      </mat-expansion-panel>

      <mat-expansion-panel class="rounded-0">
        <mat-expansion-panel-header>
          Menu 2
        </mat-expansion-panel-header>

        <a href="#">link 3</a>

        <a href="#">link 4</a>
        <a href="#">link 5</a>
        <a href="#">link 6</a>

      </mat-expansion-panel>

      <mat-expansion-panel class="rounded-0">
        <mat-expansion-panel-header>
          Menu 3
        </mat-expansion-panel-header>

        <a href="#">link 3</a>

        <a href="#">link 4</a>
        <a href="#">link 5</a>
        <a href="#">link 6</a>

      </mat-expansion-panel>

      <mat-expansion-panel class="rounded-0">
        <mat-expansion-panel-header>
          Menu 2
        </mat-expansion-panel-header>

        <a href="#">link 3</a>

        <a href="#">link 4</a>
        <a href="#">link 5</a>
        <a href="#">link 6</a>

      </mat-expansion-panel>

      <mat-expansion-panel class="rounded-0">
        <mat-expansion-panel-header>
          Menu 2
        </mat-expansion-panel-header>

        <a href="#">link 3</a>

        <a href="#">link 4</a>
        <a href="#">link 5</a>
        <a href="#">link 6</a>

      </mat-expansion-panel>

      <mat-expansion-panel class="rounded-0">
        <mat-expansion-panel-header>
          Menu 2
        </mat-expansion-panel-header>

        <a href="#">link 3</a>

        <a href="#">link 4</a>
        <a href="#">link 5</a>
        <a href="#">link 6</a>

      </mat-expansion-panel>

      <mat-expansion-panel class="rounded-0">
        <mat-expansion-panel-header>
          Menu 2
        </mat-expansion-panel-header>

        <a href="#">link 3</a>

        <a href="#">link 4</a>
        <a href="#">link 5</a>
        <a href="#">link 6</a>

      </mat-expansion-panel>

    </mat-accordion>

  </div>
</aside>
