mat-toolbar {
  background-color: transparent;
  height: 56px;
}

.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.btn-dashboard {
  background-color: white;
  color: #999;
}