<div class="mt-56">

  <mat-toolbar color="primary">
    <div class="logo d-flex justify-content-center w-100">
      <a href="#">
        <img src="{{ templateService.getLogo() }}" width="auto" height="120" alt="">
      </a>
    </div>
  </mat-toolbar>


  <div class="container">
    <mat-grid-list cols="3" rowHeight="220px">
      <mat-grid-tile>
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>Tile 1 </mat-grid-tile>
      <mat-grid-tile>Tile 1 </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="4" rowHeight="220px">
      <mat-grid-tile>Tile 1 </mat-grid-tile>
      <mat-grid-tile>Tile 1 </mat-grid-tile>
      <mat-grid-tile>Tile 1 </mat-grid-tile>
      <mat-grid-tile>Tile 1 </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>