<div class="mt-56">

  <mat-toolbar color="primary">
    <div class="logo d-flex justify-content-center w-100">
      <a href="#">
        <img src="{{ templateService.getLogo() }}" width="auto" height="120" alt="">
      </a>
    </div>
  </mat-toolbar>


  <div class="container">
    <div class="row">
      <p>
        kmg-home works!
      </p>
    </div>
    <div class="row">
      <p>
        kmg-home works!
      </p>
    </div>
    <div class="row">
      <p>
        kmg-home works!
      </p>
    </div>
    <div class="row">
      <p>
        kmg-home works!
      </p>
    </div>
    <div class="row">
      <p>
        kmg-home works!
      </p>
    </div>
    <div class="row">
      <p>
        kmg-home works!
      </p>
    </div>
  </div>

</div>