<!--
<div>

  <mat-toolbar color="primary">
    <div class="logo d-flex justify-content-center w-100">
      <a href="#">
        <img src="{{ templateService.getLogo() }}" width="auto" height="120" alt="">
      </a>
    </div>
  </mat-toolbar>

  <div class="mt-5">
  <div class="container">
    <mat-grid-list cols="24" rowHeight="1px">

      <mat-grid-tile
        [colspan]="8"
        [rowspan]="105">
        <div class="w-100 h-100">
          <a href="#">
            <div class="w-100 h-100">
              <span>Ad Central</span>
            </div>
          </a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="8"
        [rowspan]="105">
        <div class="w-100 h-100">
          <a href="#">
            <div class="w-100 h-100">
              <span>Estructura e Inversiones</span>
            </div>
          </a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="8"
        [rowspan]="105">
        <div class="w-100 h-100">
          <a href="#">
            <div class="w-100 h-100">
              <span>Reporting</span>
            </div>
          </a>
        </div>
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="6"
        [rowspan]="105">
        <div class="w-100 h-100">
          <a href="#">
            <div class="w-100 h-100">
              <span>Ganaderia</span>
            </div>
          </a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="105">
        <div class="w-100 h-100">
          <a href="#">
            <div class="w-100 h-100">
              <span>Agricultura</span>
            </div>
          </a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="105">
        <div class="w-100 h-100">
          <a href="#">
            <div class="w-100 h-100">
              <span>Forestal</span>
            </div>
          </a>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="6"
        [rowspan]="105">
        <div class="w-100 h-100">
          <a href="#">
            <div class="w-100 h-100">
              <span>Apicultura</span>
            </div>
          </a>
        </div>
      </mat-grid-tile>


    
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="35">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="35">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="35">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="35">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="35">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="35">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="35">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="35">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="35">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="35">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="35">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="35">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>



      <mat-grid-tile
        [colspan]="4"
        [rowspan]="70">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="4"
        [rowspan]="70">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="4"
        [rowspan]="70">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="3"
        [rowspan]="52">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="3"
        [rowspan]="52">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="3"
        [rowspan]="52">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="3"
        [rowspan]="52">
        <div class="w-100 h-100">
          <div class="w-100 h-100">
            <span>Tile 1</span>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  </div>

</div>

-->